<nav class="navbar navbar-expand-lg bg-light rounded">
    <div class="container-fluid">

        <div class=" navbar-collapse d-lg-flex" id="navbarsExample11">
            <a class="navbar-brand col-lg-3 me-0" href="/home/index">Movie App</a>
            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/home/index">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="movielist" class="nav-link">Admin Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/list">Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies/create">Ekle</a>
                </li>
                <li class="nav-item">
                    <form asp-controller="Movies" asp-action="List" method="get" class="d-flex" role="search">
                        <input name="arama" class="form-control me-2 ms-2" type="text" placeholder="Film Ara" aria-label="Arama Yap">
                        <button class="btn btn-outline-success" type="submit">Ara</button>
                    </form>
                </li>
            </ul>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                <button class="btn btn-primary">Giriş Yap</button>
            </div>
        </div>
    </div>
</nav>