@model Movie




<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/@Model.ImageURL" class="card-img" />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Html.Raw(Model.Description)</p>
               @* @if (Model.Casts != null)
                {
                    <p>
                        <ul>
                            @foreach (var cast in Model.Casts)
                            {
                                <li>@cast</li>
                            }
                        </ul>
                    </p>
                }*@
            </div>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    @section message
    {
    @await Html.PartialAsync("_message",(string)TempData["Message"])
    }
}