@using MovieApp.Web.ViewModels;
@model MovieGenreViewModel


<p>Home / About</p>

@section menu 
{
    @*@await Html.PartialAsync("_menu", Model.Genres)*@
    @await Component.InvokeAsync("Genres")

}

