@model MovieApp.Web.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Film Listesi </h1>
    <div id="filmler">
        <div class="film">
            <p>@Model.Title</p>
            <p>@Model.Description</p>
            <p>@Model.Director</p>
            <p>
                <ul>
                     @foreach (var cast in Model.Casts)
                    {
                        <li>@cast</li>
                    }
                </ul>
            </p>
        </div>
    </div>
</body>
</html>
